body {
    margin: 0;
    overflow-x: hidden;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Inter-ExtraBold-800;
    src: url('../fonts/Inter-ExtraBold-slnt=0.ttf');
}
@font-face {
    font-family: Inter-Medium-500;
    src: url('../fonts/Inter-Medium-slnt=0.ttf');
}
@font-face {
    font-family: Inter-Regular-400;
    src: url('../fonts/Inter-Regular-slnt=0.ttf');
}
@font-face {
    font-family: Inter-SemiBold-600;
    src: url('../fonts/Inter-SemiBold-slnt=0.ttf');
}
@font-face {
    font-family: Inter-Thin-100;
    src: url('../fonts/Inter-Thin-slnt=0.ttf');
}
a {
    text-decoration: none;
}
p {
    margin: 0;
}

/* /////////////////    HEADER  ///////////////// */
 header {
     width: 100%;
     position: fixed;
     top: 0;
     left: 0;
     background-color: #fff;
     padding: 10px 40px;
     display: flex;
     justify-content: space-between;
     transition: .5s;
     z-index: 9999;
 }
 
 header .menu {
     display: flex;
     align-items: center;
 }
 .menu .menu-items {
     list-style: none;
 }
 .menu .menu-items a {
    color: #777777;
    padding-left: 40px;
    font-size: 16px;
    font-family: 'Inter-Regular-400';
 }
 .fixed-menu {
     background-color: #30CBC2;
 }
 .menu .menu-items a.color {
    color: #fff;
}
.logo-link {
    font-size: 24px;
    color: #fff;
    font-family: 'Inter-SemiBold-600';
}

/* =======================      CONTENT     ///////////////////// */
 #content {
     width: 100%;
     margin: 0 auto;
     padding: 120px 0 50px;
 }
 .content-wrapper {
     padding: 40px 40px 50px;
 }
 .content-block {
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 100%;
 }
 .content-block-text {
     font-size: 44px;
     font-family: 'Inter-Medium-500';
     margin-left: -110px;
     width: 510px;
 }
 .content-wrapper {
     display: flex;
     align-items: center;
 } 
 .right-vertical {
     transform: rotate(90deg);
     display: flex;
     position: relative;
     right: -74px;
 }
 .left-vertical {
    transform: rotate(-90deg);
    display: flex;
    position: relative;
    left: -124px;
}
 .vertical-link {
     color: #404F56;
     font-size: 14px;
     font-family: 'Inter-Medium-500';
     padding: 0 8px;
 }
 .heroes-img {
     border-radius: 50%;
     background-color: #E5E5E5;
     height: 394px;
 }
 .dots {
     display: flex;
     justify-content: center;
     align-items: flex-end;
     position: relative;
     top: 20px;
 }
 .dots-item {
     width: 7px;
     height: 7px;
     border-radius: 50%;
     background-color: #DEDEDE;
     margin: 0 10px;
 }
 .dots-item:nth-child(3) {
     background-color: #E9B31E;
 }

/* //////////////////////       SLIDER      /////////////////// */

.slider-container {
    width: 100%;
    margin: 0 auto;
    padding: 40px 0;
}
.slick-slide {
    outline: none;
    margin: 25px;
    max-width: 368px;
    min-height: 368px;
}
.slider img {
    width: 100%;
    height: 368px;
}
.slider-text {
    font-size: 20px;
    font-family: 'Inter-SemiBold-600';
    color: #404F56;
    padding: 8px 0;
}
.slider span {
    font-size: 16px;
    font-family: 'Inter-Thin-100';
    font-weight: 600;
    color: #909090;
}
.slick-track {
    padding-left: 120px;
}
.slick-dots li button:before {
    font-size: 30px;
}

/* ////////////////////////////     FOOTER      ////////////////////////// */

.footer {
    width: 100%;
    margin: 0 auto;
    padding: 40px 0;
}
.footer-wrapper {
    max-width: 1060px;
    margin: 0 auto;
}
.footer-text {
    font-family: 'Inter-Medium-500';
    color: #404F56;
    font-size: 18px;
    margin-top: 30px;
    padding-left: 4px;
}
.footer-title {
    font-family: 'Inter-ExtraBold-800';
    font-size: 110px;
    color: #404F56;
    margin-top: 30px;
}
.work-with-us {
    font-family: 'Inter-SemiBold-600';
    font-size: 14;
    color: #404F56;
    margin-top: 40px;
    padding: 20px 70px;
    background-color: transparent;
    border: 1px solid #404F56;
    outline: none;
    cursor: pointer;
}
.footer-container {
    display: flex;
    padding: 60px 0 30px;
}
.footer-block {
    padding-right: 150px;
}
.footer-block:last-child {
    padding-right: 0;
}
.footer-block-title {
    font-family: 'Inter-Medium-500';
    font-size: 18px;
    color: #000;
    padding-bottom: 7px;
}
.footer-block-text a, .left-footer-txt, .right-footer-txt a {
    color: #4F5665;
    font-family: 'Inter-Regular-400';
    font-size: 16px;
    transition: .4s;
}
.footer-block-text a:hover {
    color: #000;
}
.xxx {
    margin: 10px 0;
}
.last-footer {
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 50px;
}
.left-footer, .right-footer {
    width: 50%;
}
.right-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.right-footer-txt {
    padding-right: 24px;
}
.right-footer-txt:last-child {
    padding-right: 0;
}