body {
    margin: 0;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Inter-ExtraBold-800;
    src: url('../fonts/Inter-ExtraBold-slnt=0.ttf');
}
@font-face {
    font-family: Inter-Medium-500;
    src: url('../fonts/Inter-Medium-slnt=0.ttf');
}
@font-face {
    font-family: Inter-Regular-400;
    src: url('../fonts/Inter-Regular-slnt=0.ttf');
}
@font-face {
    font-family: Inter-SemiBold-600;
    src: url('../fonts/Inter-SemiBold-slnt=0.ttf');
}
@font-face {
    font-family: Inter-Thin-100;
    src: url('../fonts/Inter-Thin-slnt=0.ttf');
}
a {
    text-decoration: none;
}
p {
    margin: 0;
}

/* /////////////////    HEADER  ///////////////// */
 header {
     width: 100%;
     position: fixed;
     top: 0;
     left: 0;
     background-color: #fff;
     padding: 10px 40px;
     display: flex;
     justify-content: space-between;
     transition: .5s;
 }
 
 header .menu {
     display: flex;
     align-items: center;
 }
 .menu .menu-items {
     list-style: none;
 }
 .menu .menu-items a {
    color: #777777;
    padding-left: 40px;
    font-size: 16px;
    font-family: 'Inter-Regular-400';
 }
 .fixed-menu {
     background-color: #30CBC2;
 }
 .menu .menu-items a.color {
    color: #fff;
}
.logo-link {
    font-size: 24px;
    color: #fff;
    font-family: 'Inter-SemiBold-600';
}

/* =======================      CONTENT     ///////////////////// */
 #content {
     width: 100%;
     margin: 0 auto;
     padding: 120px 0 50px;
 }
 .content-wrapper {
     padding: 40px 40px 50px;
 }
 .content-block {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 .content-block-text {
     font-size: 44px;
     font-family: 'Inter-Medium-500';
     margin-left: -110px;
     padding-right: 110px;
 }
 .content-wrapper {
     display: flex;
     align-items: center;
 } 
 .right-vertical {
     transform: rotate(90deg);
     display: flex;
     position: relative;
     right: -74px;
 }
 .left-vertical {
    transform: rotate(-90deg);
    display: flex;
    position: relative;
    left: -124px;
}
 .vertical-link {
     color: #404F56;
     font-size: 14px;
     font-family: 'Inter-Medium-500';
     padding: 0 8px;
 }
 .heroes-img {
     border-radius: 50%;
     background-color: #E5E5E5;
     height: 394px;
 }
 .dots {
     display: flex;
     justify-content: center;
     align-items: flex-end;
     position: relative;
     top: 20px;
 }
 .dots-item {
     width: 7px;
     height: 7px;
     border-radius: 50%;
     background-color: #DEDEDE;
     margin: 0 10px;
 }
 .dots-item:nth-child(3) {
     background-color: #E9B31E;
 }








