/* --------------------- Fonts -------------------------- */

@font-face {
    font-family: Inter-ExtraBold-800;
    src: url('../fonts/Inter-ExtraBold-slnt=0.ttf');
}

@font-face {
    font-family: Inter-Medium-500;
    src: url('../fonts/Inter-Medium-slnt=0.ttf');
}

@font-face {
    font-family: Inter-Regular-400;
    src: url('../fonts/Inter-Regular-slnt=0.ttf');
}

@font-face {
    font-family: Inter-SemiBold-600;
    src: url('../fonts/Inter-SemiBold-slnt=0.ttf');
}

@font-face {
    font-family: Inter-Thin-100;
    src: url('../fonts/Inter-Thin-slnt=0.ttf');
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}


/* ------------- page "About" ------------------ */

.about-card__number,
.about-card__symbol {
    font-family: 'Inter-SemiBold-600';
    color: #E1A912;
    font-size: 72px;
    font-weight: 600;
}

.section--testimonials {
    padding: 10.5625% 0 0;
}

.banner--about .banner__caption .banner__title {
    color: #404F56;
}
.nav--primary ul li {
    margin-right: 20px;
}
.header-main .nav--primary ul li a {
    font-size: 22px;
    font-family: 'Inter-Regular-400';
    color: #DEDEDE;
}
.mob-contacts {
    padding-left: 15px;
    font-family: 'Inter-Regular-400';
    font-size: 20px;
    line-height: 35px;
    color: hsla(0,0%,100%,.75);
    display: none;
}
.convert {
    color: #99daf2;
}
.main-header--peek .header-main {
    padding: 0;
}
.row__item {
    font-size: 200px;
    padding: 0 20px;
}

.row__item:nth-child(1) {
    color: #FF7777;
}

.row__item:nth-child(2) {
    color: #99daf2;
}

.row__item:nth-child(3) {
    color: #ffb931;
}

.row__item:nth-child(4) {
    color: #FF7777;
}

.row__item:nth-child(5) {
    color: #ffb931;
}

.row__item:nth-child(6) {
    color: #99daf2;
}

.section--services {
    padding: 0;
}

.logo-link,
.logo-link-mobile {
    display: none;
    font-size: 24px;
    color: #464b50;
    padding: 14px 0;
    font-family: 'Inter-SemiBold-600';
}

.logo-link:hover,
.logo-link:focus {
    color: #464b50;
}
.header-main .container {
    padding: 0 40px;
}
#my-video {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-top: 90px;
}

.section--recognition {
    padding: 0;
}

.block--testimonial .block__icon::before {
    content: '';
    display: none;
}


/* ////////////////////////////     FOOTER      ////////////////////////// */

.footer {
    width: 100%;
    margin: 0 auto;
    padding: 40px 0;
}

.footer-wrapper {
    max-width: 1060px;
    margin: 0 auto;
}

.footer-text {
    font-family: 'Inter-Medium-500';
    color: #404F56;
    font-size: 18px;
    margin-top: 30px;
    padding-left: 4px;
}

.footer-title {
    font-family: 'Inter-ExtraBold-800';
    font-size: 110px;
    color: #404F56;
    margin-top: 30px;
}

.work-with-us {
    font-family: 'Inter-SemiBold-600';
    font-size: 14px;
    color: #404F56;
    margin-top: 40px;
    padding: 20px 70px;
    background-color: transparent;
    border: 1px solid #404F56;
    outline: none;
    transition: .5s;
    cursor: pointer;
}

.work-with-us:hover {
    background-color: yellow;
}

.footer-container {
    display: flex;
    padding: 60px 0 30px;
}

.footer-block {
    padding-right: 150px;
}

.footer-block:last-child {
    padding-right: 0;
}

.footer-block-title {
    font-family: 'Inter-Medium-500';
    font-size: 18px;
    color: #000;
    padding-bottom: 7px;
}

.footer-block-text a,
.left-footer-txt,
.right-footer-txt a {
    color: #4F5665;
    font-family: 'Inter-Regular-400';
    font-size: 16px;
    transition: .4s;
}

.footer-block-text a:hover {
    color: #000;
}

.xxx {
    margin: 10px 0;
}

.last-footer {
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 50px;
}

.left-footer,
.right-footer {
    width: 50%;
}

.right-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.right-footer-txt {
    padding-right: 24px;
}

.right-footer-txt a:hover {
    color: #000;
}

.right-footer-txt:last-child {
    padding-right: 0;
}

.Mob-bird-none {
    display: none;
}

.nav--primary ul li a {
    font-family: 'Inter-Regular-400';
    font-size: 16px;
    padding-left: 15px;
}


/* -------------     Media queries      ------------- */

@media screen and (max-width: 576px) {
    .row__item {
        font-size: 70px;
    }
    .about-card__number,
    .about-card__symbol {
        font-size: 55px;
    }
    .footer {
        padding-top: 0;
    }
    .grid--awards {
        margin-top: 20px;
    }
}

@media screen and (max-width: 1100px) {
    .footer-wrapper {
        max-width: 790px;
    }
    .footer-title {
        font-size: 60px;
        width: 520px;
    }
    .footer-block {
        padding-right: 77px;
    }
}

@media screen and (max-width: 992px) {
    .footer-container {
        flex-wrap: wrap;
    }
    .footer-block {
        padding-top: 30px;
    }
}

@media screen and (max-width: 840px) {
    .footer-wrapper {
        padding: 0 20px;
    }
    .footer-title {
        font-size: 46px;
        width: 410px;
    }
}

@media (min-width: 768px) {
    .header-main {
        padding: 10px 0;
    }
}

@media screen and (max-width: 767px) {
    .main-header--scrolling .header-main.header-main--sticky-yellow {
        background: #30CBC2;
    }
    .mob-contacts {
        display: block;
    }
    .bird-img {
        display: none;
    }
    #logo-mob {
        display: none;
    }
    .logo-link-mobile {
        display: block;
    }
    .header-main .header__mobile-toggle {
        padding: 26px;
    }
    .header-main .header__mobile-navigation {
        padding-top: 40px;
        padding-left: 40px;
        padding-bottom: 30px;
        background-color: #404F56;
    }
    .nav--primary ul li {
        margin-bottom: 1.2em;
    }
    .logo-link-mobile {
        padding: 0;
    }
    .logo-link-mobile:focus,
    .logo-link-mobile:hover {
        color: #404F56;
    }
    .mobile-bird-img {
        width: 50px;
    }
    .nav--primary ul li a {
        font-size: 22px;
    }
}

@media (min-width: 768px) {
    .main-header--scrolling .header-main.header-main--sticky-yellow {
        background: #30CBC2;
        padding: 5px 0;
        box-shadow: 0px -6px 0px #bdbdc0;
    }
}

@media screen and (max-width: 710px) {
    .footer-block {
        padding-right: 50px;
    }
    .last-footer {
        padding-top: 25px;
        flex-direction: column;
        align-items: flex-start;
    }
    .left-footer {
        width: 100%;
    }
    .right-footer {
        padding-top: 10px;
        justify-content: space-between;
    }
    .left-footer,
    .right-footer {
        width: auto;
    }
}

@media screen and (max-width: 430px) {
    .footer-title {
        font-size: 34px;
        width: 279px;
        line-height: 40px;
    }
}

@media screen and (max-width: 325px) {
    .right-footer-txt {
        padding-right: 20px;
    }
    .work-with-us {
        padding: 20px 50px;
    }
    .footer-wrapper {
        padding: 0;
    }
}