    @font-face {
        font-family: Inter-ExtraBold-800;
        src: url('../fonts/Inter-ExtraBold-slnt=0.ttf');
    }
    
    @font-face {
        font-family: Inter-Medium-500;
        src: url('../fonts/Inter-Medium-slnt=0.ttf');
    }
    
    @font-face {
        font-family: Inter-Regular-400;
        src: url('../fonts/Inter-Regular-slnt=0.ttf');
    }
    
    @font-face {
        font-family: Inter-SemiBold-600;
        src: url('../fonts/Inter-SemiBold-slnt=0.ttf');
    }
    
    @font-face {
        font-family: Inter-Thin-100;
        src: url('../fonts/Inter-Thin-slnt=0.ttf');
    }
    @font-face {
        font-family: Inter-Bold;
        src: url('../fonts/Inter-Bold-slnt=0.ttf');
    }
    
    
    .mob-contacts {
        font-family: 'Inter-Regular-400';
        font-size: 20px;
        line-height: 35px;
        color: hsla(0,0%,100%,.75);
        display: none;
    }
    .convert {
        color: #99daf2;
    }

    .header__block {
        background-image: url('../images/contact-back.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 100vh;
    }
    
    .header-main .nav--primary ul li a {
        color: #DEDEDE;
        font-size: 16px;
        font-family: 'Inter-Regular-400';
    }
    
    .header-main .nav--primary ul .contact-active a {
        color: #fff;
    }
    
    .header-title {
        color: #fff;
        font-size: 144px;
        text-align: center;
        font-family: 'Inter-ExtraBold-800';
        padding-top: 220px;
    }
    
    .header-txt {
        font-size: 16px;
        font-family: 'Inter-Medium-500';
        color: #fff;
        text-align: center;
    }
    
    .banner__title {
        padding: 80px 190px 0;
    }
    
    .header-aside {
        width: 126px;
    }
    .header-main {
        padding: 0;
    }
    .header-main .container {
        padding: 10px 40px;
    }
    .link--email {
        padding-left: 0;
    }
    
    .btn--planner {
        border-radius: 0;
        background-color: #fff;
        font-size: 14px;
        font-family: 'Inter-SemiBold-600';
        padding: 0;
    }
    
    .footer-main .footer-main__social ul li+li::before {
        content: '';
    }
    
    .btn__label {
        display: flex;
        background-color: #EAB614;
        transition: background .2s ease-in-out, color .2s ease-in-out;
    }
    
    .btn__arrow {
        display: flex;
        background-color: #EAB614;
        transition: background .2s ease-in-out, color .2s ease-in-out;
    }
    
    .btn--planner .btn__label {
        padding: 17.5px 40px 17.5px 20px;
    }
   
    .contact-bird {
        opacity: 0;
    }
    
    .hidden-logo-name, .contact-logo-mobile {
        display: none;
        color: #fff;
        text-decoration: none;
        font-family: 'Inter-SemiBold-600';
    }
    
    .logo a {
        text-decoration: none;
    }
    
    .btn--planner .btn__arrow {
        padding: 20px;
        margin-left: 3px;
    }
    
    .btn--planner:hover .btn__arrow {
        background-color: #99daf2;
    }
    
    .btn--planner:hover .btn__label {
        background-color: #99daf2;
        color: #fff;
    }
    .contact-logo-mobile {
        display: none;
    }
      
    .section--contact-details h2 {
        font-size: 18px;
    }
    .footer---txt a, .footer---txt {
        color: #4F5665;
        font-family: 'Inter-Regular-400';
        font-size: 16px;
        transition: .4s;
    }
    .header-main .header__mobile-toggle {
        width: 116px;
        outline: none;
    }
    

/* //////////////////////////       CONTACT US      //////////////////// */
.contact__us {
    padding-top: 70px;
}
.contacts__title {
    font-family: 'Inter-Bold';
    font-size: 72px;
    margin: 0 auto;
    color: #404F56;
    line-height: 82px;
}
.contacts__txt {
    font-family: 'Inter-Medium-500';
    font-size: 16px;
    margin: 0 auto;
    color: #404F56;
    padding-top: 40px;
}
.btn {
    color: #fff;
    border: 0;
    border-radius: 0;
    margin-top: 60px;
    padding: 0;
}
.btn:focus {
    outline: none;
}
.btn:hover {
    color: #fff;
    border: none;
}
.send__btn {
    display: flex;
    align-items: center;
}
.send__btn:focus {
    outline: none;
}
.btn__right {
    margin-left: 3px;
    padding: 16px 20px;
    background-color: #EAB614;
    transition: .4s;
}
.btn__txt {
    font-family: 'Inter-Bold';
    padding: 17px 40px;
    background-color: #EAB614;
    transition: .4s;
    font-size: 15px;
}
.btn:hover + .btn__right {
    background-color: #99daf2;
}
.footer-block-text {
    padding-left: 0;
}



    /* ////////////////////////////     FOOTER      ////////////////////////// */

.footer {
    width: 100%;
    margin: 0 auto;
    padding: 40px 0;
}
.footer-wrapper {
    max-width: 1060px;
    margin: 0 auto;
}
.footer-text {
    font-family: 'Inter-Medium-500';
    color: #404F56;
    font-size: 18px;
    margin-top: 30px;
    padding-left: 4px;
}
.footer-title {
    font-family: 'Inter-ExtraBold-800';
    font-size: 110px;
    color: #404F56;
    margin-top: 30px;
}
.work-with-us {
    font-family: 'Inter-SemiBold-600';
    font-size: 14px;
    color: #404F56;
    margin-top: 40px;
    padding: 20px 70px;
    background-color: transparent;
    border: 1px solid #404F56;
    outline: none;
    transition: .4s;
    cursor: pointer;
}
.work-with-us:hover {
    background-color: yellow;
}
.footer-container {
    display: flex;
    padding: 60px 0 30px;
}
.footer-block {
    padding-right: 150px;
}
.footer-block:last-child {
    padding-right: 0;
}
.footer-block-title {
    font-family: 'Inter-Medium-500';
    font-size: 18px;
    color: #000;
    padding-bottom: 7px;
}
.footer-block-text a, .left-footer-txt, .right-footer-txt a {
    color: #4F5665;
    font-family: 'Inter-Regular-400';
    font-size: 16px;
    transition: .4s;
    text-decoration: none;
    
}
.footer-block-text a:hover {
    color: #000;
}
.xxx {
    margin: 10px 0;
}
.last-footer {
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 50px;
}
.left-footer, .right-footer {
    width: 50%;
}
.right-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.right-footer-txt {
    padding-right: 24px;
}
.right-footer-txt a:hover {
    color: #000;
}
.right-footer-txt:last-child {
    padding-right: 0;
}

/* MEDIA QUERIES: */
@media screen and (max-width: 992px) {
    .banner__title {
        padding: 50px 0px 0;
    }
    .btn--planner .btn__arrow {
        padding: 17px;
    }
}
@media screen and (max-width: 767px) {
    .btn--planner .btn__arrow {
        padding: 20px;
    }
    .yyy {
        display: none;
    }
    .hidden-logo-name {
        display: none;
        font-size: 22px;
    }
    .contact-logo-mobile {
        display: block;
    }
    .header-title {
        font-size: 120px;
    }
    .footer-main__bottom-inner {
        font-size: 24px;
    }
}
@media screen and (max-width: 576px) {
    .header-title {
        font-size: 100px;
    }
}
@media screen and (max-width: 344px) {
    .banner--contact .btn--planner {
        font-size: 16px;
    }
    .btn--planner .btn__arrow {
        padding: 17px;
    }
}
@media (max-width: 767px) {
    .header-main .header__mobile-navigation {
        background: #404F56;
        padding: 40px 33px 30px 50px;
    }
    .mob-contacts {
        display: block;
    }
}
@media screen and (max-width: 1100px) {
    .footer-wrapper {
        max-width: 790px;
    }
    .footer-title {
        font-size: 60px;
        width: 520px;
    }
    .footer-block {
        padding-right: 77px;
    }
}

@media screen and (max-width: 992px) {
    .footer-container {
        flex-wrap: wrap;
    }
    .footer-block {
        padding-top: 30px;
    }
}
@media screen and (max-width: 840px) {
    .footer-wrapper {
        padding: 0 20px;
    }
    .footer-title {
        font-size: 46px;
        width: 410px;
    }
}
@media screen and (max-width: 767px) {
    .contacts__title {
        font-size: 56px;
        line-height: 64px;
    }
    .header-main .container {
        padding: 40px;
    }
    .contact-logo-mobile {
        font-size: 21px;
    }
    .header-main .nav--primary ul li a {
        font-size: 22px;
    }
}
@media screen and (max-width: 710px) {
    .footer-block {
        padding-right: 50px;
    }
    .last-footer {
        padding-top: 25px;
        flex-direction: column;
        align-items: flex-start;
    }
    .left-footer {
        width: 100%;
    }
    .right-footer {
        padding-top: 10px;
        justify-content: space-between;
    }
    .left-footer, .right-footer {
        width: auto;
    }
}
@media screen and (max-width: 576px) {
    .contacts__title {
        font-size: 46px;
        line-height: 58px;
    }
}
@media screen and (max-width: 488px) {
    .contacts__title {
        font-size: 38px;
        line-height: 48px;
    }
}
@media screen and (max-width: 430px) {
    .footer-title {
        font-size: 34px;
        width: 279px;
    }
}
@media screen and (max-width: 402px) {
    .contacts__title {
        font-size: 32px;
        line-height: 42px;
    }
}
@media screen and (max-width: 325px) {
    .right-footer-txt {
        padding-right: 20px;
    }
}




