    @font-face {
        font-family: Inter-ExtraBold-800;
        src: url('../fonts/Inter-ExtraBold-slnt=0.ttf');
    }
    
    @font-face {
        font-family: Inter-Medium-500;
        src: url('../fonts/Inter-Medium-slnt=0.ttf');
    }
    
    @font-face {
        font-family: Inter-Regular-400;
        src: url('../fonts/Inter-Regular-slnt=0.ttf');
    }
    
    @font-face {
        font-family: Inter-SemiBold-600;
        src: url('../fonts/Inter-SemiBold-slnt=0.ttf');
    }
    
    @font-face {
        font-family: Inter-Thin-100;
        src: url('../fonts/Inter-Thin-slnt=0.ttf');
    }
    
    .header__block {
        background-image: url('../images/contact-back.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 100vh;
    }
    
    .header-main .nav--primary ul li a {
        color: #DEDEDE;
    }
    
    .header-main .nav--primary ul .contact-active a {
        color: #fff;
    }
    
    .header-title {
        color: #fff;
        font-size: 144px;
        text-align: center;
        font-family: 'Inter-ExtraBold-800';
        padding-top: 220px;
    }
    
    .header-txt {
        font-size: 16px;
        font-family: 'Inter-Medium-500';
        color: #fff;
        text-align: center;
    }
    
    .banner__title {
        padding: 80px 190px 0;
    }
    
    .header-aside {
        width: 126px;
    }
    
    .link--email {
        padding-left: 0;
    }
    
    .btn--planner {
        border-radius: 0;
        background-color: #fff;
        font-size: 14px;
        font-family: 'Inter-SemiBold-600';
        padding: 0;
    }
    
    .footer-main .footer-main__social ul li+li::before {
        content: '';
    }
    
    .btn__label {
        display: flex;
        background-color: #EAB614;
        transition: background .2s ease-in-out, color .2s ease-in-out;
    }
    
    .btn__arrow {
        display: flex;
        background-color: #EAB614;
        transition: background .2s ease-in-out, color .2s ease-in-out;
    }
    
    .btn--planner .btn__label {
        padding: 17.5px 40px 17.5px 20px;
    }
   
    .contact-bird {
        opacity: 0;
    }
    
    .hidden-logo-name, .contact-logo-mobile {
        display: none;
        color: #fff;
        text-decoration: none;
        font-family: 'Inter-SemiBold-600';
    }
    
    .logo a {
        text-decoration: none;
    }
    
    .btn--planner .btn__arrow {
        padding: 20px;
        margin-left: 3px;
    }
    
    .btn--planner:hover .btn__arrow {
        background-color: #99daf2;
    }
    
    .btn--planner:hover .btn__label {
        background-color: #99daf2;
        color: #fff;
    }
    .contact-logo-mobile {
        display: none;
    }
    .section--contact-details {
        font-size: 20px;
    }
    
    .section--contact-details h2 {
        font-size: 22px;
    }
    .header-main .header__mobile-toggle {
        width: 116px;
    }
    @media screen and (max-width: 992px) {
        .banner__title {
            padding: 50px 0px 0;
        }
        .btn--planner .btn__arrow {
            padding: 17px;
        }
    }
    @media screen and (max-width: 767px) {
        .btn--planner .btn__arrow {
            padding: 20px;
        }
        .yyy {
            display: none;
        }
        .hidden-logo-name {
            display: none;
            font-size: 22px;
        }
        .contact-logo-mobile {
            display: block;
        }
        .header-title {
            font-size: 120px;
        }
        .footer-main__bottom-inner {
            font-size: 24px;
        }
    }
    @media screen and (max-width: 576px) {
        .header-title {
            font-size: 100px;
        }
    }
    @media screen and (max-width: 344px) {
        .banner--contact .btn--planner {
            font-size: 16px;
        }
        .btn--planner .btn__arrow {
            padding: 17px;
        }
    }
    @media (max-width: 767px) {
        .header-main .header__mobile-navigation {
            background: #404F56;
            padding: 120px 33px 85px 50px;
        }
    }